code {
  font-size: 3em;
}

.playerListWrap {
  max-height: 75vh;
  overflow-y: auto;
}

.questionPreview {
  max-height: 200px;
  overflow-y: auto;
  border: 1px black solid;
  white-space: pre-wrap;
  max-width: 90vw;
  display: block;
  margin: 0 auto;
}
