.questionPreview {
  max-height: 200px;
  overflow-y: auto;
  border: 1px black solid;
  white-space: pre-wrap;
  max-width: 90vw;
  display: block;
  margin: 0 auto;
}

.infoScreen {
  max-width: 100%;
  padding: 1em;
  text-align: center;
  max-height: 100svh;
  box-sizing: border-box;
  overflow-y: auto;
}

.setup h1 {
  font-weight: 900;
}

.setup code {
  background: white;
  color: black;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  display: inline-block;
  font-size: 3em;
}

.playerJoin {
  width: 100%;
}

.playerList {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;

  display: block;
  max-height: calc(100svh - 300px);
  overflow-y: auto;
}

.playerList th {
  padding: 10px 0;
}

.playerList td {
  padding: 5px 0;
}

.playerList button {
  background: none;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.playerList tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}
.playerList tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}