.infoScreen {
  max-width: 100%;
  padding: 1em;
  text-align: center;
  max-height: 100svh;
  box-sizing: border-box;
  overflow-y: auto;
}

.setup h1 {
  font-weight: 900;
}

.setup code {
  background: white;
  color: black;
  padding: 0.5em 1em;
  margin-top: 0.25em;
  display: inline-block;
  font-size: 3em;
}

.playerJoin {
  width: 100%;
}

.playerList,
.finalList {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;

  display: block;
  max-height: calc(100svh - 300px);
  overflow-y: auto;
}

.playerList th,
.finalList th {
  padding: 10px 0;
}

.playerList td,
.finalList td {
  padding: 5px 0;
}

.playerList td:last-child {
  width: 100%;
}

.playerList button {
  background: none;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.playerList tr:nth-child(odd),
.finalList tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}
.playerList tr:nth-child(even),
.finalList tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.2);
}

.gameControl {
  width: 100%;
  padding: 2vw;
}

.gameControl h2 {
  margin: 0;
}

.questionNumWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

.questionNumWrap button {
  background: none;
  border: none;
  color: white;
  margin-top: 2.2vh;
  font-size: 1.5vh;
  cursor: pointer;
}

.questionNumWrap .qNum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 1vh;
}

.questionNumWrap .bigNum {
  font-weight: 900;
  font-size: 5vh;
  min-width: 15vh;
}

.questionProgress {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.questionProgress button {
  flex-grow: 1;
  flex-basis: 0;
  font-size: 2.5vw;
  background: rgba(0,0,0,0);
  border: 1px white solid;
  color: white;
  padding: 5px 0;
  cursor: pointer;
  border-radius: 0;

  transition: background 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.questionProgress button:disabled {
  background: rgba(0,0,0,0);
  color: rgb(128,128,128);
  border: 1px rgb(128,128,128) solid;
}

.questionProgress button.active,
.questionProgress button:disabled.active {
  color: black;
  background: white;
  border: 1px white solid;
}

.questionMetadata {
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.questionPreview {
  height: 10vh;
  overflow-y: auto;
  border: 1px black solid;
  white-space: pre-wrap;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.gameControl .bigBtnWrap {
  width: 90%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  padding: 2vh 0;
}

.gameControl .bigBtnWrap button {
  margin: 1vh;
  display: block;
  flex-grow: 1;
  flex-basis: 0;
}

.finalScreen {
  width: 100%;
}

.finalList th,
.finalList td:last-child {
  white-space: nowrap;
  padding-left: 0.5em;
  padding-right: 0.5em;
}