.center {
    text-align: center;
    transform: translateY(100vh);
    transform: translateY(100svh);

    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.center h1 {
    margin: 0;
    font-size: min(15vw, 150px);
    font-weight: 900;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.center .error {
    color: rgb(255, 128, 128);
}

.answerouterwrap {
    transition: transform 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.1s;
}

.answerRow {
    display: flex;
    flex-direction: row;
}

.answer {
    --delay-time: 0;
    width: 45vw;
    height: 45vh;
    height: 45svh;
    margin: min(2vw, 2vh);
    margin: min(2vw, 2svh);
    cursor: pointer;
    padding: min(10vw, 10vh) min(15vw, 15vh);
    padding: min(10vw, 10vh) min(15vw, 15svh);

    display: flex;
    align-items: center;
    justify-content: center;

    transform: scaleY(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) var(--delay-time), box-shadow 0.1s ease-in-out;
    border-top: 1vh var(--accent-color) solid;
    border-top: 1svh var(--accent-color) solid;
}

.answer:hover, .answer:focus {
    box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

.answer:active {
    box-shadow: 0 0 30px rgba(255,255,255,1);
}

.answer > div {
    width: min(15vw, 15vh);
    width: min(15vw, 15svh);
    height: min(15vw, 15vh);
    height: min(15vw, 15svh);
    background: rgba(255, 255, 255, 0.75);
    font-size: 0;
}

.answer.a, .answer.f {
    --accent-color: rgba(255,100,100,.5);
}

.answer.b, .answer.t {
    --accent-color: rgba(150,255,150,.5);
}

.answer.d {
    --accent-color: rgba(150,150,255,.5);
}

.answer.a > div {
    border-radius: 50%;
}

.answer.b > div {
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    transform: scale(0.9);
}

.answer.c > div {
    transform: scale(0.9);
}

.answer.d > div {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.tfWrap .answer > div {
    background: none;
    font-size: 10vh;
    font-size: 10svh;
    color: white;
}

.questionRes {
    transform: translateY(100vh);
    transform: translateY(100svh);
    text-align: center;
    transition: transform 0.5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

.questionRes h2, .questionRes p {
    text-align: center;
}

.questionRes h2 {
    font-size: min(15vw, 15vh);
    font-size: min(15vw, 15svh);
    margin: 0;
}

.questionRes p {
    padding-left: 10vw;
    padding-right: 10vw;
}

.loader {
    color: #ffffff;
    font-size: 45px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;

    display: block;
    margin: 1em auto;
}
  
@keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
  
@keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.textanswerRow {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 0 25px;
    box-sizing: border-box;
}

.textanswerRow input {
    width: 100%;
    box-sizing: border-box;
    font-family: 'Consolas', monospace;
    color: white;
    border-bottom: 2px var(--accent-color) solid;
    border-top: none;
    padding: 1em;
    position: relative;

    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275), background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.textanswerRow input:disabled {
    background: rgba(255, 255, 255, 0.2);
    --accent-color: rgba(150,255,150,.5);
}

.textanswerRow button {
    display: block;
    margin: 0.5em auto;

    opacity: 0;
    transition: opacity 1s ease-in-out 0.35s;
}

.instr {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    margin-bottom: 1em;
}

.mapanswerRow {
    text-align: center;
    transform: translateY(100vh);
    transform: translateY(100svh);
    transition: transform 0.75s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

.mapanswerRow .map {
    height: 60vh;
    height: 60svh;
    width: 95vw;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

.mapanswerRow .map::after {
    content: "";
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d1/Google_Maps_pin.svg');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    z-index: 1000;
    top: 50%; left: 50%;
    width: 5vh;
    width: 5svh;
    height: 10vh;
    height: 10svh;
    transform: translate(-50%, -100%);
    pointer-events: none;
}

.mapanswerRow .submitbtn {
    width: 100%;
    max-width: 95vw;
    margin: 16px auto;
    display: block;
}

.mapanswerRow .submitbtn button {
    width: 100%;
}

.mapanswerRow .smallbtn::after {
    display: none;
    content: '';
}